---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	<div class="image">
		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
	</div>

	<div class="recipe-body">
		{{ content }}
	</div>
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
